{% extends sonata_block.templates.block_base %}
{% use 'TasksBundle:Sonata:part_tasks_table.html.twig' %}

{% block block %}
<div class="box" id="block-{{ block_id }}">
    <div class="box-header">
        {% block tasks_block_header %}
        <h4 class="box-title">{{ settings.title|trans }}</h4>
        {% endblock %}
    </div>
    <div class="box-body">
        {% block tasks_table_before '' %}
        
        {% block tasks_block_table %}
        <table class="table table-condensed table-striped">
            {% block tasks_block_head %}
            <thead>
                {% block tasks_block_table_head_row %}
                <tr>
                    <th class="col-md-2">{{ 'label.due_date'|trans({}, translation_domain) }}</th>
                    <th class="col-md-2">{{ 'label.task_type'|trans({}, translation_domain) }}</th>
                    <th class="col-md-3">{{ 'label.description'|trans({}, translation_domain) }}</th>
                    <th class="col-md-2">{{ 'label.status'|trans({}, translation_domain) }}</th>
                </tr>
                {% endblock %}
            </thead>
            {% endblock %}
            {% block tasks_block_table_body %}
            <tbody>
                {% for task in tasks %}
                {% block tasks_block_table_body_row %}
                <tr>
                    <td>{{ task.getDeadline|date('d.m.Y') }}</td>
                    <td>{{ task.getType|trans }}</td>
                    <td><a href="{{ path('tasks_edit', {id: task.getId}) }}">{{ task.getDescription|truncate(250) }}</a></td>
                    <td>
                        {% if task.getStatus != '' %}
                        {% set task_status =  'task.status.' ~ task.getStatus %}
                        {{ task_status|trans }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                {% endblock %}
                {% endfor %}
            </tbody>
            {% endblock %}
            {% block tasks_block_table_footer '' %}
        </table>
        {% endblock %}
        
        {% block tasks_table_after '' %}
    </div>
    {% block tasks_block_scripts '' %}
</div>
{% endblock %}