{% block tasks_block_table %}
{% set overdue_line_drawed = false %}
<table class="table table-condensed table-striped tasks-table">
    {% block tasks_block_head %}
    <thead>
        {% block tasks_block_table_head_row %}
        <tr>
            <th class="col-md-2">{{ 'label.due_date'|trans({}, translation_domain) }}</th>
            <th class="col-md-2">{{ 'label.task_type'|trans({}, translation_domain) }}</th>
            <th class="col-md-3">{{ 'label.description'|trans({}, translation_domain) }}</th>
            <th class="col-md-2">{{ 'label.status'|trans({}, translation_domain) }}</th>
        </tr>
        {% endblock %}
    </thead>
    {% endblock %}
    {% block tasks_block_table_body %}
    <tbody>
        {% if tasks|length > 0 %}
        {% set task_in_past = false %}
        {% for task in tasks %}
            {% if task.isOverdue %} 
                {% set row_class = 'task-overdue' %}
            {% else %} 
                {% set row_class = '' %} 
            {% endif %}
            
            
            {% if task.isOverdue and overdue_line_drawed == false %}
                {% set row_class = row_class ~ ' task-overdue-line' %}
                {% set overdue_line_drawed = true %}
            {% endif %}
            
            {% if task.isOverdue == false and overdue_line_drawed == true %}
                {% set row_class = row_class ~ ' task-fresh-line' %}
                {% set overdue_line_drawed = false %}
            {% endif %}
        
        {% block tasks_block_table_body_row %}
        <tr class="{{ row_class }}">
            <td>{{ task.getDeadline|date('d.m.Y') }}</td>
            <td>{{ task.getType|trans }}</td>
            <td><a href="{{ path('tasks_edit', {id: task.getId}) }}">{{ task.getDescription|truncate(250) }}</a></td>
            <td>
                {% if task.getStatus != '' %}
                {% set task_status =  'task.status.' ~ task.getStatus %}
                {{ task_status|trans }}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% endblock %}
        {% endfor %}
        {% else %}
            <tr><td colspan="6">{{ 'message.no_tasks_found'|trans({}, 'TasksBundle') }}</td></tr>
        {% endif %}
    </tbody>
    {% endblock %}
</table>
{% endblock %} 